// 暗黑模式
html.dark {
  --h-bg-color: #1e1e20;
  --h-nav-bd-color: #000;
  --h-text-color-1: #fffff5db;
  --h-text-hover-color-1: #9499ff;
  --h-text-hover-color-2: #ebebf599;
  --h-menu-bg-color: #252529;
  --h-menu-bd-color: #52525952;
  --h-link-hover-bg-color: #313136;
  --h-switch-bg-color: #313136;
  --h-switch-bd-color: #525259ad;
  --h-switch-ic-color: #fffff5db;
  --h-switch-ic-bg-color: #000;
}