// 亮色模式
:root {
  --h-bg-color: #fff;
  --h-body-bg-color: #f2f3f5;
  --h-nav-bd-color: #3c3c431f;
  --h-text-color-1: #3c3c43eb;
  --h-text-hover-color-1: #646cff;
  --h-text-hover-color-2: #3c3c43bf;
  --h-menu-bg-color: #fff;
  --h-menu-bd-color: #3c3c431f;
  --h-link-hover-bg-color: #f6f6f7;
  --h-switch-bg-color: #f6f6f7;
  --h-switch-bd-color: #3c3c434a;
  --h-switch-ic-color: #3c3c43b3;
  --h-switch-ic-bg-color: #fff;
  --h-underline-color: #e4e6eb80;
}